In [5]:
#tuple-ordered,immutable & allow duplicacy.
players=(2,3,4)
print(players)
print(type(players))
players=20,30
print(players,type(players))
players=("Messi")
print(players,type(players))
players=("Messi",)
print(players,type(players))

(2, 3, 4)
<class 'tuple'>
(20, 30) <class 'tuple'>
Messi <class 'str'>
('Messi',) <class 'tuple'>

In [6]:
#tuple()-constructor
players=tuple(["Messi","Ronaldo"])
print(players,type(players))

('Messi', 'Ronaldo') <class 'tuple'>

In [39]:
#access
#via index
teams=("France","Argentina","Portugal","France")
print(teams[0])
#via negative Index
print(teams[-1])
#loop
for i in teams:
    print(i)
#Acess using while loop
x=0
while x<len(teams):
    print(teams[x])
    x+=1
#slicing
print(teams[1:])#postive
print(teams[-3:-1])#negative 
#can define step as well
print(teams[0::2])

#range()
for i in range(0,len(teams)):
    print(teams[i])

France
France
France
Argentina
Portugal
France
France
Argentina
Portugal
France
('Argentina', 'Portugal', 'France')
('Argentina', 'Portugal')
('France', 'Portugal')
France
Argentina
Portugal
France

In [29]:
#check item in tuple
if "France" in teams:
    print("yes")
else:
    print("No")

yes

In [30]:
#tuple is heterogenous
t=("hello",2,2.3)
print(t,type(t))

('hello', 2, 2.3) <class 'tuple'>

In [33]:
#tuple methods
#len
print(len(teams))
#count
print(teams.count("France"))#returns count of passed element
#index
print(teams.index("France"))#returns first occurance

4
2
0

In [35]:
#conversion
l=list(teams)#tuple to list
print(l,type(l))
#list to tuple
t=tuple(l)
print(t,type(t))

['France', 'Argentina', 'Portugal', 'France'] <class 'list'>
('France', 'Argentina', 'Portugal', 'France') <class 'tuple'>

In [4]:
#packing & Unpacking
coaches=('a','b')#packing
print(coaches,type(coaches))
argentina,france=coaches#unpacking
print(argentina,france)

#using asterik *
t=(1,2,3,4,5,6)
a,b,*c=t
print(a)
print(b)
print('Remaining items as list-',c)

('a', 'b') <class 'tuple'>
a b
1
2
Remaining items as list- [3, 4, 5, 6]

In [5]:
#compare size of list & tuple
import sys as s
l=[1,2,3]
t=(1,2,3)
print("Size in bytes-",s.getsizeof(l))
print("Size in bytes-",s.getsizeof(t))
#hence tuple can be used when to handle with large data

Size in bytes- 120
Size in bytes- 64

In [6]:
#compare time between list & tuple
import timeit as t
print(t.timeit(stmt="[1,2,3]",number=1000000))
print(t.timeit(stmt="(1,2,3)",number=1000000))

0.1226160100004563
0.01359088899971539

In [11]:
#concat
t1=(100,200)
t2=(1.2,2.9)
print(t1+t2)
#double the tuple with multiply(*)
result=t1*2
print(result,type(result),len(result))

(100, 200, 1.2, 2.9)
(100, 200, 100, 200) <class 'tuple'> 4